body{
    background-color: #000;
}
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
   flex-direction: column;
   height: 100vh;
    
}
#meme{
    height: 350px;
    
}
button{
   background-color: brown;
   padding: 30px;
   margin: 30px;
}
button:hover{
    background-color: antiquewhite;
}